footer {
  background-color: rgb(249, 198, 103);
  color: black;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-column {
  flex: 1;
  margin: 10px;
  min-width: 200px;
}

.footer-logo {
  max-width: 150px;
}

.footer-column p, .footer-column h3 {
  margin: 10px 0;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin: 5px 0;
}

.footer-column ul li a {
  color: black;
  text-decoration: none;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

.social-icons {
   margin-top: 10px; 
}

.social-icons a {
  margin: 0 5px;
}

.social-icons img {
   width: 24px; 
  height: 24px; 
}